@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Tomorrow;
}

body{
    background-image: url(Taieri.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: rgb(17, 14, 14);
    box-shadow: 0px 0 20px 0 rgb(39, 38, 38);
    opacity: 0.9;
}

ul{
    display: flex;

}

ul li{
    padding: 5px 15px;
    list-style: none;
}

ul li .ab{
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

ul li .ab:hover,
ul li .ab:focus{
    color: #9294ff;
}

.home{
    color: white;
    background-color: #5D5FEF;
    padding: 10px 25px;
}

.home:hover,
.home:focus{
    color: white;
}

li,.login{
    padding-top: 3px;
    list-style: none;
}

.login{
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #EF5DA8;
    text-decoration: none;
}

.font{
    display: flex;
    align-items: center;
    padding-top: 9rem;
    animation-name: font;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    justify-content: space-around;

}

.fresh{
    display: flex;
    flex-direction: column;
}

.lg{
    font-size: 60px;
    color: rgb(44, 43, 43);
}

.md1{
    font-size: 27px;
    color: #F178B6;
}

.md{
    font-size: 27px;
    color: #EF5DA8;
}

.btn{
    display: flex;
    justify-content: space-around;
    padding-right: 5rem;
}

.btn button{
    font-weight: bold;
    padding: 5px 25px;
    color: white;
    background-color: rgb(17, 14, 14);
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.btn button:hover{
    background-color: white;
    color: rgb(17, 14, 14);
}

.stp{
    animation-name: stp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    padding-top: 20rem;
}

@keyframes stp {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width:768px){

    .sign{
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .img2 img{
        display: flex;
        align-items: center;
        margin: 0rem;
    }
    
    .box .img{
        display: none;
    }

    .spa{
        background-color: rgb(29, 27, 27);
        color: white;
    }

    .font{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .btn{
        padding-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lg{
        font-size: 70px;
        color: whitesmoke;
    }
    
    .md1{
        font-size: 36px;
        color: goldenrod;
    }
    
    .md{
        font-size: 36px;
        color: gold;
    }

    .spa{
        letter-spacing: 0px;
    }

    .big{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 25px;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:800px){
    .box .img{
        display: none;
    }

    .sign{
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .img2 img{
        display: flex;
        align-items: center;
        margin: 0rem;
    }
}

@media only screen and (max-width:640px){

    footer{
        align-items: center;
        flex-direction: column;
    }

    .sign{
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .img2 img{
        display: flex;
        align-items: center;
        margin: 0rem;
    }

    .nav{
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 25px 0px;
    }

    .login{
        position: relative;
        width: 100%;
        background-color: whitesmoke;
        border-bottom: none;
        color: black;
        margin-top: 2rem;
        padding: 10px 0px;
    }

    .font{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
    }

    .btn{
        padding-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav{
        background:rgb(17, 14, 14);
        border-bottom: 2px solid rgb(39, 38, 38);
        opacity: 1;
    }

    .font{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul li .ab{
        color: white;
    }

    .box{
        display: none;
    }


    .lg{
        font-size: 50px;
        color: #5D5FEF;
    }

    .spa{
        background-color: rgb(29, 27, 27);
        color: white;
    }

    .md1{
        font-size: 26px;
        color: rgb(18, 180, 18);
    }
    
    .md{
        font-size: 26px;
        color: green;
    }

    .spa{
        letter-spacing: 0px;
    }

    .big{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 25px;
        flex-direction: column;
        align-items: center;
    }

    
}

.spa{
    letter-spacing: 5px;
}


.box .img{
    width: 500px;
}



.a{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-color: palevioletred;
    color: white;
}

.a2{
    background-color: rgb(132, 34, 189);
}

.model1{
    background:linear-gradient(160deg,rgb(236, 57, 57),rgb(204, 30, 30));

}
.model2{
    background:linear-gradient(160deg,rgb(255, 251, 0),rgb(238, 186, 15));

}

.model3{
    background:linear-gradient(160deg,rgb(58, 57, 57),rgb(49, 48, 46));

}

.big{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 3rem 0rem;
}

.big p{
    font-weight: bold;
    width: 500px;
    color: white;

}

.big img{
    width: 200px;
}

.sc h1{
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-bottom: 1rem;
}

.butn{
    display: flex;
    justify-content: space-evenly;
    margin:1rem;
}

.butn button{
    border: none;
    padding: 10px 50px;
    font-weight: bold;
    cursor: pointer;
}

.buy{
    background-color: white;
}

.cart{
    color: white;
    background-color: black;
}

.line{
    padding: 0rem 0rem;
    border: 3px dashed rgb(238, 186, 15);
}

.line.l2{
    padding: 0rem 0rem;
    border: 3px dashed rgb(226, 23, 23);
}


.cnt{
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.cont{
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cont2{
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont img{
    border: 2px dashed black;
    padding: 1rem 1rem;
    width: 250px;
    cursor: pointer;
    margin: 1rem 0rem;
    animation-name: mr;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.cont2 img{
    padding: 1rem 1rem;
    border: 2px dashed black;
    width: 250px;
    cursor: pointer;
    margin: 1rem 0rem;
}

.cont img:hover{
    opacity: 0.8;
}

.cont2 img:hover{
    opacity: 0.8;
}

.mr{
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    border-top: 2px solid blueviolet;
    border-bottom:  2px solid blueviolet;
    width: 100%;
    cursor: pointer;
    background-color: blueviolet;
}

.MORE{
    text-decoration: none;
    padding: 0rem 0rem;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.sign{
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 50px;
    background-color: #fffdfe;
}

.img2{
    border-left: 5px solid hotpink;
}

.img2 img{
    width: 150px;
    margin: 2rem;
}

.sib{
    display: flex;
    flex-direction: column;
    width: 300px;
    background:linear-gradient(180deg,hotpink,pink);
    align-items: center;
    padding: 25px;
    height: 500px;
    justify-content: center;
    border-radius: 5px;
}

.ap{
    margin-top: 2rem;
    color: whitesmoke;
    font-family: Tomorrow;
    font-size: 18px;
    font-weight: bold;
}

.auto{
    padding: 20px 100px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: rgb(14, 80, 204);
    color: whitesmoke;
}

.sib button{
    margin-top: 5rem;
}

.sign h1{
    color: whitesmoke;
}

input{
    outline: 3px solid hotpink;
    border: none;
    text-align: center;
    margin-top: 25px;
    padding: 15px 25px;
    border-radius: 5px;
    width: 200px;
}

input,placeholder{
    color: black;
}

.a8{
    color: white;
    background-color: hotpink;
}


footer{
    background-color: violet;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.uli li a{
    color: white;
}